In [10]:
import pandas as pd
path =r"C:\Users\User\Downloads\StudentsPerformance.csv"
df=pd.read_csv(path)
df.head()

,gender,race/ethnicity,parentaleducation,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [14]:
def OrdinalEncoder(df):
    df_new=df.copy()
    mapping={}
    s = (df.dtypes == 'object')
    object_cols = list(s[s].index)
    print("The Columns containing Categorical variables are:",object_cols)
    for col in object_cols:
        print(f"The column {col} has {df[col].unique()} as unique values")
    print("Select the column having categorical variables to be encoded ordinally: ")
    catCol=input()
    for col in df[catCol].unique():
        print(f"Enter the encoded value for {col} between 0 (bottom of the hierarchy) to {len(df[catCol].unique())-1}(top of the hierarchy)")
        mapping[col]=input()
    df_new["parentaleducation"] = df["parentaleducation"].replace(mapping)
    df_new.head()

In [ ]:
OrdinalEncoder(df)

The Columns containing Categorical variables are: ['gender', 'race/ethnicity', 'parentaleducation', 'lunch', 'test preparation course']
The column gender has ['female' 'male'] as unique values
The column race/ethnicity has ['group B' 'group C' 'group A' 'group D' 'group E'] as unique values
The column parentaleducation has ["bachelor's degree" 'some college' "master's degree" "associate's degree"
 'high school' 'some high school'] as unique values
The column lunch has ['standard' 'free/reduced'] as unique values
The column test preparation course has ['none' 'completed'] as unique values
Select the column having categorical variables to be encoded ordinally: