In [15]:
#training data used = https://www.kaggle.com/datasets/spscientist/students-performance-in-exams
import pandas as pd
path=input("Enter the path of the dataset")
df=pd.read_csv(path)
df.head()

Enter the path of the dataset C:\Users\User\Downloads\StudentsPerformance.csv

,gender,race/ethnicity,parentaleducation,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [19]:
def oneHotEncoder(df):
    s = (df.dtypes == 'object')
    object_cols = list(s[s].index)
    if len(object_cols) == 0:
        print("No categorical columns found.")
        return df
    print("The Columns containing Categorical variables are:",object_cols)

    for col in object_cols:
        print(f"The column {col} has {df[col].unique()} as unique values")
        
    while True:
        print("\nSelect a column to be encoded nominally, or type 'exit' to finish: ")
        catCol = input()
        if catCol == 'exit':
            break
        if catCol not in object_cols:
            print(f"{catCol} is not a valid categorical column. Please select a valid column.")
            continue
        print(f"Encoding values for column '{catCol}'")
        df_new = df.reindex(columns = df.columns.tolist() + df[catCol].unique().tolist()).fillna(value=0)
        for i, row in df.iterrows():
            for unique_value in df[catCol].unique():
                if row[catCol] == unique_value:
                    df_new.at[i, unique_value] = 1
        df_new=df_new.drop(catCol,axis=1)
        print(df_new.head(),"\nEncoding Complete\n",)

In [ ]:
oneHotEncoder(df)

The Columns containing Categorical variables are: ['gender', 'race/ethnicity', 'parentaleducation', 'lunch', 'test preparation course']
The column gender has ['female' 'male'] as unique values
The column race/ethnicity has ['group B' 'group C' 'group A' 'group D' 'group E'] as unique values
The column parentaleducation has ["bachelor's degree" 'some college' "master's degree" "associate's degree"
 'high school' 'some high school'] as unique values
The column lunch has ['standard' 'free/reduced'] as unique values
The column test preparation course has ['none' 'completed'] as unique values

Select a column to be encoded nominally, or type 'exit' to finish:

 race/ethnicity

Encoding values for column 'race/ethnicity'
   gender   parentaleducation         lunch test preparation course  \
0  female   bachelor's degree      standard                    none
1  female        some college      standard               completed
2  female     master's degree      standard                    none
3    male  associate's degree  free/reduced                    none
4    male        some college      standard                    none

   math score  reading score  writing score  group B  group C  group A  \
0          72             72             74      1.0      0.0      0.0
1          69             90             88      0.0      1.0      0.0
2          90             95             93      1.0      0.0      0.0
3          47             57             44      0.0      0.0      1.0
4          76             78             75      0.0      1.0      0.0

   group D  group E
0      0.0      0.0
1      0.0      0.0
2      0.0      0.0
3      0.0      0.0
4      0.0      0.0
Encoding Complete


Select a column to be encoded nominally, or type 'exit' to finish: